
@import '~@angular/material/theming';

@mixin sidemenu($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    
    .sidemenuHolder{
        margin-top: 30px;
    }
    .primary-sidemenu{
        overflow:hidden;
        background: mat-color($primary,900);  
    }
    .ripple{
        position:relative;
    }
    .secondarymenu{
        background: mat-color($primary,800);  
    }
    
    .mat-list{
        padding-top: 1px;
        cursor: pointer;
    }
    .mat-chip:not(.mat-basic-chip){
        padding: 1px 7px !important;
        border-radius: 5px !important;
    }
    .openButton{
        transform: rotate(180deg);
        animation-duration: 200ms;
        animation-timing-function: ease;
    }
    .closeButton{
        transform: rotate(360deg);
        animation-duration: 200ms;
        animation-timing-function: ease;
    }
    mat-list-item:focus {
        outline:none;
    }
    mat-icon{
        width: 20px !important;
        height: 20px !important;
        font-size: 20px !important;
    }
    .open{
        transition:  max-height .5s ease;
        max-height: 1200px;
    }   
    .close {
        transition:  max-height .5s ease;
        max-height: 0px; 
    } 
    .active {
        background-color: #3492f7;
    }
    .green{
        color: #00ff0a;
    }
    mat-icon.small{
        width: 20px;
        height: 20px;
        font-size: 20px;
    }
    mat-icon-button{
        animation-name: spin;
    }
    
 
}
