<div fxLayoutAlign="space-around stretch" fxLayoutWrap fxLayout="row"  fxLayout.lt-sm="column"   fxLayoutGap="10">   
    <cdk-dashcard   fxFlex=24 fxFlex.sm=48 fxFlex.xs=90 [colorDark]="'#D81B60' | hexToRgb" [colorLight]="'#E91E63' | hexToRgb" [progress]="20" [title]="'SALES'" [number]="'21'" [icon]="'local_grocery_store'"></cdk-dashcard>
    <cdk-dashcard fxFlex=24 fxFlex.sm=48  fxFlex.xs=90  [colorDark]="'#8E24AA' | hexToRgb" [colorLight]="'#9C27B0' | hexToRgb" [progress]="40" [title]="'LEADS'" [number]="'212'" [icon]="'new_releases'"></cdk-dashcard>
    <cdk-dashcard  fxFlex=24 fxFlex.sm=48 fxFlex.xs=90  [colorDark]="'#5E35B1' | hexToRgb" [colorLight]="'#673AB7' | hexToRgb" [progress]="70" [title]="'BANKING'" [number]="'2123'" [icon]="'account_balance'"></cdk-dashcard>
    <cdk-dashcard  fxFlex=24 fxFlex.sm=48  fxFlex.xs=90 [colorDark]="'#3949AB' | hexToRgb" [colorLight]="'#3F51B5' | hexToRgb" [progress]="300" [title]="'ASSIGNMENTS'" [number]="'2123'" [icon]="'assignments'"></cdk-dashcard>
</div>
<div fxLayout="row" class="margintop" fxLayoutAlign="space-around stretch"  >
    <div fxFlex="74" fxFlex.lt-sm=100   fxLayout="column"     fxLayoutAlign="start stretch"  >
        <cdk-line-chart-small></cdk-line-chart-small>
    </div>
    <div fxFlex="24" fxHide.lt-sm  fxLayout="column"  fxLayoutGap="20px">
        <div class="mat-elevation-z4">
            <cdk-weather-card></cdk-weather-card>
        </div>
        <cdk-slider-card></cdk-slider-card>
    </div>
</div>
<div  fxLayout="row" class="margintop" fxLayoutWrap fxLayoutAlign="space-between start">
    <cdk-chat-small fxFlex="33" fxFlex.lt-sm=48></cdk-chat-small>
    <cdk-to-do-list fxFlex="33" fxFlex.lt-sm=48 ></cdk-to-do-list>
    <cdk-new-messages fxFlex="33" fxFlex.lt-sm=100 fxFlexAlign.lt-sm="end"></cdk-new-messages>
</div>
<div fxLayout="row" class="margintop" fxLayoutAlign="space-between start"  >
    <div fxLayout="column"  fxFlex.lt-sm=100   fxLayoutAlign="start stretch">
        <cdk-line-chart-wide></cdk-line-chart-wide>
    </div>
</div>
